<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCMS</title>
    <link href="adminhome.css"rel="stylesheet"type="text/css">
</head>
<body>
    <div class="card">
        <h1>List of complaints raised by users</h1><hr>
        <table>
            <tr>
                <th>SR No</th>
                <th>USERNAME</th>
                <th>UPLOADED IMAGE</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>ASSINGE PARTNER</th>
                <th>PROGRESS</th>
                <th>WORK STATUS</th>
                <th>IMAGE AFTER COMPLETION</th>
                <th>DELETE ISSUE</th>
            </tr>

            <tr>
                <td>1</td>
                <td>hgctg</td>
                <td><img src="23.png" id="a"></td>
                <td>street light</td>
                <td>in our colony</td>
                <td><select name="role" id="role">
                    <option>Electrician</option>
                    <option>Plumber</option>
                    <option>Transportation worker</option>
                </select></td>
                <td>Electrician</td>
                <td>completed</td>
                <td><img src="23.png" id="a"></td>
                <td><center><button><img src="22.jpeg" id="b"></button></center></td>
                
            </tr>
        
        </table>
    </div>
</body>
</html>