<html>
<head>
<title>login</title>
<link href="agent.css"rel="stylesheet"type="text/css">
<nav>
<div><h1><i>Agent_Login<i></h1></div><hr>
</head>
</nav>
<body>
<div class="container">
<div class="card">
    <form method="post">
<input type="text" name="Admin" placeholder="username" id="name" ><br>
<input type="password"name="pass" placeholder="password"id="name"><br><br>
<a href="cc.html"><h2>forgot password<h2></a><br><br>
<button id="button" href="/register"><h2>submit</h2></button> 
<p id="da">  </p>
</form>
</div>
</div>
<img src="24.png">
</body>
</html>