<html>
<head>
<title>login</title>
<link href="register.css"rel="stylesheet"type="text/css">
<nav>
<div><h1><i>Register With Us <i></h1></div><hr>
</head>
</nav>
<body>
<div class="container">
<div class="card">
<form method="post">
<label><h2>Full Name:</h2></label>
<input type="text" name="Admin" placeholder="Enter your full name" id="name" ><br>
<label><h2>Email:</h2></label>
<input type="email"name="emai" placeholder="Enter a valid email address"id="name"><br>

<label ><h2>password:</h2></label>
<input type="password" name="pass" placeholder="Enter password" id="name" ><br>
<button id="button" href="/register"><h2>register</h2></button> <br><h4>Have an account? </h3>
<a href="login.html"><h3>Login<h3></a><br><br>
</form>
</div>
</div>
</body>
</html>