<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCMS</title>
    <link href="viewstatus.css"rel="stylesheet"type="text/css">
</head>
<body>
    <div class="card">
        <h1>List Of Complaints Raised </h1><hr>
        <table>
            <tr>
                <th>SR No</th>
                <th>YOUR UPLOADED IMAGE</th>
                <th>IMAGE AFTER COMPLETION</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>PARTNER NAME</th>
                <th>WORK STATUS</th>
                <th>FEEDBACK</th>
            </tr>

            <tr>
                <td>1</td>
                <td><img src="23.png" id="a"></td>
                <td><img src="23.png" id="a"></td>
                <td>street light</td>
                <td>in our colony</td>
                <td><p id="p">Plumber</p></td>
                <td>completed</td>
                <td><center><a href="#"><button>Feedback form</button></a></center></td>
                
            </tr>
        
        </table>
    </div>
</body>
</html>